<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Milton Hotels</title>
    <meta name="description" content="Milton Hotels">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <!-- putting header inside container will prevent full width navbar -->
    <p align="center">This is in the base html file</p>

    {% block content %}
    {% endblock %}

 <!-- Footer -->
 <footer class="footer">
    <div class="container text-center">
        <p>Copyright &copy; Milton Hotels</p>
    </div>
</footer>
</body>
</html>